*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grandParent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: red;
}

#parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: green;
}

#child{
    width: 200px;
    height: 200px;
    background-color: yellow;
}